* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 10rem; 
    width: 100%;
    background-color: rgba(0, 0, 255, 0.356);
    text-align: center;
    padding-top: 3.25rem;
    h1 {
        font-family: Arial, Helvetica, sans-serif;
        color: black;
    } 
}



nav {
    border-bottom: .1rem solid rgba(128, 128, 128, 0.808);
    ul {
        display: flex;
        justify-content: center;
        li {
            list-style: none;
            padding: 1rem;
            a {
                text-decoration: none;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1rem;
                &:link {
                    color: grey;
                }
                
                &:visited {
                    color: rgba(128, 0, 128, 0.877);
                }
                
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}




main {
    padding: 2rem;
    flex-flow: column nowrap;
    .main-text, aside {
        width: 100%;
        h2 {
            font-family: Arial, Helvetica, sans-serif;
            margin-bottom: 1rem;
        }
        
        p {
            margin: 0.5rem;
        }
    }
    
    aside {
        border: .1rem solid rgba(128, 128, 128, 0.808);
        padding: .5rem;
    }
}






section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    img {
        border: .1rem solid rgba(128, 128, 128, 0.808);
        margin: 1rem;
        height: 20rem;
    }
}



footer {
    padding: .5rem;
    background-color: rgba(128, 128, 128, 0.288);
    margin-top: 1rem;
    border-top: .1rem solid rgba(128, 128, 128, 0.808);
    ul {
        display: flex;
        justify-content: center;
        li {
            list-style: none;
            padding: 1rem;
            a {
                text-decoration: none;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1rem;
                &:link {
                    color: grey;
                }
                
                &:visited {
                    color: rgba(128, 0, 128, 0.877);
                }
                
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

@media screen and (min-width: 800px) {
    main {
        display: flex; 
        flex-flow: row wrap;
        justify-content: center;
    }
    
    
    .main-text {
        width: 60%;
    }
    
    aside {
        width: 30%;       
    }

    section {
        flex-flow: row wrap; 
    }
    
}