* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  height: 10rem;
  width: 100%;
  background-color: rgba(0, 0, 255, 0.356);
  text-align: center;
  padding-top: 3.25rem; }
  header h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: black; }

nav {
  border-bottom: 0.1rem solid rgba(128, 128, 128, 0.808); }
  nav ul {
    display: flex;
    justify-content: center; }
    nav ul li {
      list-style: none;
      padding: 1rem; }
      nav ul li a {
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem; }
        nav ul li a:link {
          color: grey; }
        nav ul li a:visited {
          color: rgba(128, 0, 128, 0.877); }
        nav ul li a:hover {
          transform: scale(1.1); }

main {
  padding: 2rem;
  flex-flow: column nowrap; }
  main .main-text, main aside {
    width: 100%; }
    main .main-text h2, main aside h2 {
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 1rem; }
    main .main-text p, main aside p {
      margin: 0.5rem; }
  main aside {
    border: 0.1rem solid rgba(128, 128, 128, 0.808);
    padding: .5rem; }

section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center; }
  section img {
    border: 0.1rem solid rgba(128, 128, 128, 0.808);
    margin: 1rem;
    height: 20rem; }

footer {
  padding: .5rem;
  background-color: rgba(128, 128, 128, 0.288);
  margin-top: 1rem;
  border-top: 0.1rem solid rgba(128, 128, 128, 0.808); }
  footer ul {
    display: flex;
    justify-content: center; }
    footer ul li {
      list-style: none;
      padding: 1rem; }
      footer ul li a {
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem; }
        footer ul li a:link {
          color: grey; }
        footer ul li a:visited {
          color: rgba(128, 0, 128, 0.877); }
        footer ul li a:hover {
          transform: scale(1.1); }

@media screen and (min-width: 800px) {
  main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
  .main-text {
    width: 60%; }
  aside {
    width: 30%; }
  section {
    flex-flow: row wrap; } }
